.footer{
    position: absolute;
    border-bottom: "2px solid lightgray";
    overflow: hidden;
    margin-top: 800px;
    width: 100%;
    height: 1px;
    content: '\a0';
    background-color:grey;
  
  }